:root {
  --Homepage-max-width: 1280px;
  --HomepageHeader-width: 520px;
  --sidebar-width: 240px;
  --footer-width: 160px;
  --w-offset: max( calc((100vw - var(--Homepage-max-width)) / 2) , 0px);
  /***IMPORTANT**
    Transitions don't work with auto
    **IMPORTANT***/
  --HomepageHeader-transition: inset 480ms ease-out 320ms;
  --HomepageNavBar-transition: inset 240ms ease-out 240ms;
  --HomepageFooter-transition: inset 480ms ease-out 40ms;
  --ToHomepageButton-transition: opacity 300ms ease-in-out 300ms,
                        background-color 240ms ease-in;
  --Content-transition: inset 480ms ease-out;
}
#HomepageHeader.hidden {inset: auto calc(var(--w-offset) + var(--HomepageHeader-width)) auto auto}
#HomepageNavBar.sidebar {inset: 204px auto auto -141px}
#HomepageFooter.sidebar {inset: auto auto 0 0}
.Content.hidden {inset: auto auto auto 100%}
.HomepageNavItem.active {
  background-position: left;
  width: 100%;
  border-radius: 0;
}
#HomepageSubMenu.active {opacity: 1}


.cursor-grabbing {cursor: grabbing;}
.cursor-grabbing:hover {cursor: grabbing;}


html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
}
#root {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
}
#Homepage {
  max-width: var(--Homepage-max-width);
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 10px;
}


.TypedText {
  font-family: inherit;
  display: inline-block;
  height: 1.3em;
  margin: 0;
  max-width: 100%;
  white-space: pre;
  overflow: scroll hidden;
  scrollbar-width: none;
}

#HomepageHeader {
  position: relative;
  inset: auto 0 auto auto;
  width: var(--HomepageHeader-width);
  font-size: 80px;
  font-weight: bold;
  transition: var(--HomepageHeader-transition);
}
#HomepageNavBar {
  position: absolute;
  inset: 204px auto auto var(--w-offset);
  display: flex;
  margin-left: 6px;
  width: fit-content;
  transition: var(--HomepageNavBar-transition);
}
#HomepageMainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}
#HomepageSubMenu {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  overflow: hidden;
  height: 10em;
  font-size: 24px;
  margin-left: 16px;
  padding: 8px;
  padding-left: 16px;
  border-radius: 20px 0 0 20px;
  box-shadow: -2px 0 2.2px gray;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 160ms;
  transition-timing-function: ease-in;
}
#HomepageFooter {
  display: flex;
  position: absolute;
  inset: auto auto 0 calc(100% - var(--footer-width));
  padding: 16px 0;
  transition: var(--HomepageFooter-transition);
}

.HomepageNavItem {
  display: block;
  height: 1.5em;
  margin: 0.25em 0;
  padding: 4px 8px;
  border-radius: 0 20% 20% 0;
  box-shadow: -2px 0 1.2px gray;
  user-select: none;
}
.HomepageNavSubItem {
  padding: 2px 8px;
  border-radius: 12px 0 0 12px;
}
.HomepageNavItem, .HomepageNavSubItem {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(135, 135, 135, 0.4) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition-property: background-position border-radius;
  transition-duration: 160ms;
  transition-timing-function: ease-in;
}

.HomepageNavItem:hover, .HomepageNavSubItem:hover {
  background-position: left;
  cursor: pointer;
}
.ToHomepageButton {
  filter: invert(100%);
  position: absolute;
  top: -40px;
  height: 24px;
  border-radius: 12px;
  padding: 4px;
  opacity: 0.75;
  transition: var(--ToHomepageButton-transition)
}
.ToHomepageButton:hover {
  cursor: pointer;
  background-color: rgba(135, 135, 135, 0.5);
}

.Content {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: auto auto auto var(--sidebar-width);
  transition: var(--Content-transition);
}

#Homepage > .about-me {
  height: 100px;
}

.footer-links {
  display: flex;
  margin-left: 8px;
  gap: 10px;
}
.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  transition-property: opacity;
  transition-duration: 240ms;
  transition-timing-function: ease-in;

  .footer-icon {
    max-height: 30px;
    margin: auto;
    vertical-align: middle;
    opacity: 0.75;
    transition-property: max-height, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  .footer-icon:hover {
    max-height: 36px;
    opacity: 1;
  }
  .footer-icon.linkedin { max-height: 26px; }
  .footer-icon.linkedin:hover { max-height: 30px; }
}
