:root {
  --Homepage-max-width: 1280px;
  --Homepage-padding: 10px;
  --HomepageMainMenu-width: 200px;
  --HomepageSubMenu-x-padding: 8px;
  --sidebar-width: 196px;
  --footer-width: 160px;
  --w-offset: max( calc((100vw - var(--Homepage-max-width)) / 2) , var(--Homepage-padding));
  --HomepageHeader-width: min( 520px, calc(100% - 2 * var(--Homepage-padding)) );
  --HomepageSubMenu-width: calc(var(--sidebar-width) - var(--HomepageSubMenu-x-padding) * 2);
  --HomepageHeader-right: calc(var(--w-offset) + var(--HomepageHeader-width) + var(--Homepage-padding));
  --sidebar-offset: calc(var(--HomepageMainMenu-width) * -1);
  --Content-width: calc(100vw - var(--sidebar-width));
  --Content-left: var(--sidebar-width);
  /***IMPORTANT**
    Transitions don't work with auto
    **IMPORTANT***/
  --HomepageHeader-transition: inset 480ms ease-in-out;
  --HomepageNavBar-transition: inset 360ms ease-in-out;
  --HomepageFooter-transition: inset 480ms ease-in-out;
  --ToHomepageButton-transition: opacity 300ms ease-in-out 300ms, background-color 240ms ease-in;
  --SubMenuHeader-transition: inset 660ms ease-out;
  --Content-transition: inset 480ms ease-out;
  --HomepageMainMenu-open-transition: margin 80ms ease-in;
  --HomepageHeader-toHidden-transition: inset 480ms ease-out 320ms;
  --HomepageNavBar-toSidebar-transition: inset 360ms ease-out 360ms;
  --HomepageFooter-toSidebar-transition: inset 480ms ease-out 40ms;
}
#HomepageHeader.hidden {
  inset: auto var(--HomepageHeader-right) auto auto;
  transition: var(--HomepageHeader-toHidden-transition);
}
#HomepageNavBar.sidebar {
  inset: 0 auto auto var(--sidebar-offset);
  transition: var(--HomepageNavBar-toSidebar-transition);
}
#HomepageMainMenu.open {
  color: #d3ba7f;
  margin: 0;
}
#HomepageFooter.sidebar {
  inset: auto auto 0 0;
  transition: var(--HomepageFooter-toSidebar-transition);
}
.HomepageNavItem.active {
  background-position: left;
  border-radius: 0;
}
#SubMenuHeader.hidden {inset: auto auto auto 100%;}
#SubMenuHeader.shown {inset: auto auto auto 0;}
#SubMenuBackground.hidden {
  width: 10%;
  margin: 4px;
  opacity: 0;
  transition: var(--HomepageMainMenu-open-transition), width 80ms ease-in, opacity 40ms ease-in 60ms;
}
#SubMenuBackground.shown {
  transition: var(--HomepageMainMenu-open-transition), width 160ms ease-in, var(--HomepageNavBar-transition);
}
#SubMenuBackground.content-shown {
  inset: 120px auto 160px var(--sidebar-offset);
  transition: margin 160ms ease-in, width 160ms ease-in, var(--HomepageNavBar-toSidebar-transition);
}
.Content.hidden {inset: auto auto auto 100%;}
.Content.shown {inset: auto auto auto var(--Content-left); box-shadow: 0 0 8px 4px;}
#HomepageSubMenu.active {opacity: 1}


@keyframes oscillate-background {
  0%, 100% {background-position: 0% 0%}
  50%      {background-position: 100% 0%}
}


html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background: linear-gradient(45deg, #0f0f0f, #242424);
  background-size: 200% 100%;

  &.animate {animation: oscillate-background 10s linear 10s infinite;}
}
#root {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
}
#Homepage {
  max-width: var(--Homepage-max-width);
  height: 100%;
  width: 100%;
  margin: auto;
  padding: var(--Homepage-padding);
}
#Homepage::selection {
  background-color: #2f4f77;
}
iframe {
  background-color: #222222;
}


.TypedText {
  font-family: inherit;
  display: inline-block;
  height: 1.3em;
  margin: 0;
  max-width: 100%;
  white-space: pre;
  overflow: scroll hidden;
  scrollbar-width: none;
}

#HomepageHeader {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  inset: auto 0 auto auto;
  width: var(--HomepageHeader-width);
  font-size: 80px;
  font-weight: bold;
  transition: filter 480ms ease-out 80ms, var(--HomepageHeader-transition);
}
#HomepageNavBar {
  position: absolute;
  inset: 0 auto auto var(--w-offset);
  display: flex;
  align-items: start;
  height: 100%;
  width: fit-content;
  transition: var(--HomepageNavBar-transition);
}
#HomepageMainMenu {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  top: max(36%, 132px);
  margin: 0 0 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--HomepageMainMenu-width);
  color: #ddd6c6;
  font-size: 16px;
  box-shadow: -3.2px 0 1.2px -1.2px gray;
  transition: var(--HomepageMainMenu-open-transition);
}
#SubMenuBackground {
  position: absolute;
  inset: 120px auto 160px var(--w-offset);
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(
    to right,
    #222333 calc(var(--HomepageMainMenu-width) - 40px),
    #1b1b22 calc(var(--HomepageMainMenu-width) - 2px),
    #404555 var(--HomepageMainMenu-width),
    rgba(0, 0, 0, 0) calc(var(--HomepageMainMenu-width) + var(--sidebar-width) + 800px));
}
#HomepageSubMenu {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  inset: 120px auto 160px auto;
  display: flex;
  flex-direction: column;
  width: var(--HomepageSubMenu-width);
  min-height: 5em;
  max-height: 20em;
  font-size: 16px;
  padding: 8px var(--HomepageSubMenu-x-padding);
  border-radius: 20px 0 20px 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 160ms;
  transition-timing-function: ease-in;
  transition-delay: 160ms;

  hr {
    flex-grow: 0;
    width: 92%;
    margin: 8px;
    border: 1px solid white;
    border-radius: 1px;
  }
  .hr-top {
    box-shadow: 0 2px 16px 4px white;
  }
  .hr-bottom {
    box-shadow: 0 -2px 16px 4px white;
    transition: var(--ToHomepageButton-transition);
  }
}
#HomepageSubMenuItems {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden scroll;
  scrollbar-width: none;
}
#HomepageFooter {
  position: absolute;
  inset: auto auto 0 calc(100% - var(--footer-width));
  margin-left: 8px;
  transition: var(--HomepageFooter-transition);
}

.HomepageNavItem {
  display: block;
  user-select: none;
  color: inherit;
  line-height: 1.75em;
  padding: 6px 1em;
  border-radius: 0 20% 20% 0;
}
.HomepageNavSubItem {
  padding: 2px 16px;
  border-radius: 12px 0 0 12px;
  color: inherit;
  text-decoration: none;
}
.HomepageNavItem, .HomepageNavSubItem {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(135, 135, 135, 0.4) 70%);
  background-size: 200% 100%;
  background-position: right;
  transition-property: background-position border-radius;
  transition-duration: 160ms;
  transition-timing-function: ease-in;
}

.HomepageNavItem:hover, .HomepageNavSubItem:hover {
  background-position: left;
  cursor: pointer;
}
.HomepageNavItem:active, .HomepageNavSubItem:active {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(200, 200, 200, 0.4) 70%);
  background-size: 200% 100%;
  cursor: grab;
}
.ToHomepageButton {
  filter: invert(100%);
  user-select: none;
  top: -40px;
  height: 24px;
  border-radius: 12px;
  padding: 4px;
  opacity: 0.75;
  transition: var(--ToHomepageButton-transition);
}
.ToHomepageButton:hover {
  cursor: pointer;
  background-color: rgba(135, 135, 135, 0.5);
}

#SubMenuHeader {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1em;
  overflow: scroll hidden;
  scrollbar-width: none;
  width: var(--sidebar-width);
  position: absolute;
  inset: auto auto auto 100%;
  transition: var(--SubMenuHeader-transition);
}
.Content {
  background-color: white;
  color: black;
  height: 100%;
  width: var(--Content-width);
  position: absolute;
  inset: auto auto auto 100%;
  transition: var(--Content-transition);
}
.ProjectPage {
  height: 100%;
  padding: 16px;
}

#Homepage > .about-me {
  height: 100px;
}

.footer-links {
  flex-basis: 100%;
  display: flex;
  gap: 10px;
}
.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  transition-property: opacity;
  transition-duration: 240ms;
  transition-timing-function: ease-in;

  .footer-icon {
    user-select: none;
    max-height: 30px;
    margin: auto;
    vertical-align: middle;
    opacity: 0.75;
    transition-property: max-height, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  .footer-icon:hover {
    max-height: 36px;
    opacity: 1;
  }
  .footer-icon.linkedin { max-height: 26px; }
  .footer-icon.linkedin:hover { max-height: 30px; }
}
.made-with {
  font-family: Calibri;
  font-style: italic;
  color: gray;
  margin-top: 4px;
  height: 20px;
  width: 100%;
  padding-left: 4px;
  text-shadow: 0 0 1px lightgray;
}
