:root {
  --Homepage-max-width: 1280px;
  --HomepageHeader-width: 520px;
  --HomepageSubMenu-x-padding: 8px;
  --w-offset: max( calc((100vw - var(--Homepage-max-width) - var(--HomepageSubMenu-x-padding) * 2) / 2) , 0px);
  --sidebar-width: 220px;
  --sidebar-offset: -182px;
  --footer-width: 160px;
  --HomepageHeader-right: calc(var(--w-offset) + var(--HomepageHeader-width));
  --Content-width: calc(100vw - var(--sidebar-width));
  --Content-left: calc(var(--sidebar-width) + var(--HomepageSubMenu-x-padding) * 2);
  /***IMPORTANT**
    Transitions don't work with auto
    **IMPORTANT***/
  --HomepageHeader-transition: inset 480ms ease-in-out;
  --HomepageNavBar-transition: inset 360ms ease-in-out;
  --HomepageFooter-transition: inset 480ms ease-in-out;
  --ToHomepageButton-transition: opacity 300ms ease-in-out 300ms,
                        background-color 240ms ease-in;
  --Content-transition: inset 480ms ease-out;
  --HomepageHeader-toHidden-transition: inset 480ms ease-out 320ms;
  --HomepageNavBar-toSidebar-transition: inset 360ms ease-out 360ms;
  --HomepageFooter-toSidebar-transition: inset 480ms ease-out 40ms;
}
#HomepageHeader.hidden {
  inset: auto var(--HomepageHeader-right) auto auto;
  transition: var(--HomepageHeader-toHidden-transition);
}
#HomepageNavBar.sidebar {
  inset: 0 auto auto var(--sidebar-offset);
  transition: var(--HomepageNavBar-toSidebar-transition);
}
#HomepageFooter.sidebar {
  inset: auto auto 0 0;
  transition: var(--HomepageFooter-toSidebar-transition);
}
.Content.hidden {inset: auto auto auto 100%;}
.Content.shown {inset: auto auto auto var(--Content-left); box-shadow: 0 0 8px 4px;}
.HomepageNavItem.active {
  background-position: left;
  width: 100%;
  border-radius: 0;
}
#HomepageSubMenu.active {opacity: 1}


.cursor-grabbing {cursor: grabbing;}
.cursor-grabbing:hover {cursor: grabbing;}


html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
}
#root {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
}
#Homepage {
  max-width: var(--Homepage-max-width);
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 10px;
}
#Homepage::selection {
  background-color: #2f4f77;
}
iframe {
  background-color: #222222;
}


.TypedText {
  font-family: inherit;
  display: inline-block;
  height: 1.3em;
  margin: 0;
  max-width: 100vw;
  white-space: pre;
  overflow: scroll hidden;
  scrollbar-width: none;
}

#HomepageHeader {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  inset: auto 0 auto auto;
  width: var(--HomepageHeader-width);
  font-size: 80px;
  font-weight: bold;
  transition: filter 480ms ease-out 80ms, var(--HomepageHeader-transition);
}
#HomepageNavBar {
  position: absolute;
  inset: 0 auto auto var(--w-offset);
  display: flex;
  align-items: start;
  height: 100%;
  margin-left: 6px;
  width: fit-content;
  transition: var(--HomepageNavBar-transition);
}
#HomepageMainMenu {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  top: max(36%, 132px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}
#HomepageSubMenu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  inset: 120px auto 160px auto;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  min-height: 5em;
  font-size: 24px;
  margin-left: 16px;
  padding: var(--HomepageSubMenu-x-padding);
  border-radius: 20px 0 20px 0;
  background: rgba(135, 135, 135, 0.4);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 160ms;
  transition-timing-function: ease-in;

  hr {
    flex-grow: 0;
    width: 92%;
    margin: 8px;
    border: 1px solid;
  }
  .hr-top {box-shadow: 0 2px 16px 4px white;}
  .hr-bottom {box-shadow: 0 -2px 16px 4px white;}
}
#HomepageSubMenuItems {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden scroll;
  scrollbar-width: none;
}
#HomepageFooter {
  position: absolute;
  inset: auto auto 0 calc(100% - var(--footer-width));
  margin-left: 8px;
  transition: var(--HomepageFooter-transition);
}

.HomepageNavItem {
  display: block;
  user-select: none;
  height: 1.5em;
  margin: 0.32em 0;
  padding: 4px 8px;
  border-radius: 0 20% 20% 0;
  box-shadow: -3.2px 0 1.2px -1.2px gray;
}
.HomepageNavSubItem {
  padding: 2px 16px;
  border-radius: 12px 0 0 12px;
  color: inherit;
  text-decoration: none;
}
.HomepageNavItem, .HomepageNavSubItem {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(135, 135, 135, 0.4) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition-property: background-position border-radius;
  transition-duration: 160ms;
  transition-timing-function: ease-in;
}

.HomepageNavItem:hover, .HomepageNavSubItem:hover {
  background-position: left;
  cursor: pointer;
}
.ToHomepageButton {
  filter: invert(100%);
  position: absolute;
  user-select: none;
  top: -40px;
  height: 24px;
  border-radius: 12px;
  padding: 4px;
  opacity: 0.75;
  transition: var(--ToHomepageButton-transition);
}
.ToHomepageButton:hover {
  cursor: pointer;
  background-color: rgba(135, 135, 135, 0.5);
}

.Content {
  background-color: white;
  color: black;
  height: 100%;
  width: var(--Content-width);
  position: absolute;
  inset: auto auto auto 100%;
  transition: var(--Content-transition);
}
.ProjectPage {
  height: 100%;
  padding: 16px;
}

#Homepage > .about-me {
  height: 100px;
}

.footer-links {
  flex-basis: 100%;
  display: flex;
  gap: 10px;
}
.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  transition-property: opacity;
  transition-duration: 240ms;
  transition-timing-function: ease-in;

  .footer-icon {
    user-select: none;
    max-height: 30px;
    margin: auto;
    vertical-align: middle;
    opacity: 0.75;
    transition-property: max-height, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  .footer-icon:hover {
    max-height: 36px;
    opacity: 1;
  }
  .footer-icon.linkedin { max-height: 26px; }
  .footer-icon.linkedin:hover { max-height: 30px; }
}
.made-with {
  font-family: Calibri;
  font-style: italic;
  color: gray;
  margin-top: 4px;
  height: 20px;
  width: 100%;
  padding-left: 4px;
  text-shadow: 0 0 1px lightgray;
}
